//
//  Tests-Production.xcconfig
//
//  Copyright (c) 2015 Netguru Sp. z o.o. All rights reserved.
//

#include "../Carthage/Checkouts/xcconfigs/Base/Configurations/Release.xcconfig"
#include "../Carthage/Checkouts/xcconfigs/iOS/iOS-Application.xcconfig"
#include "../Pods/Target Support Files/Pods-Tests/Pods-Tests.production.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) ENV_PRODUCTION
OTHER_SWIFT_FLAGS = $(inherited) -D ENV_PRODUCTION
